.App {
  text-align: center;
}

#yaml-input {
  font-family: monospace;
  font-size: 12px;
  width: 70%;
  min-height: 300px;
  padding: 10px;
  margin: 0 auto;
}

input {
  width: 50px;
  margin: 10px 50px 10px 0px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  border: 1px solid gray;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .html, body, textarea, input  {
    background-color: black;
    color: white;
  }
  textarea, input {
    background-color: rgb(33, 33, 33);
  }
}